@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.box {
    position: relative;
    width: 380px;
    height: 450px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 10px 10px;
    /* background: transparent; */
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    /* transition: 0.5s; */
    z-index: 10;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY((-34px));
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
    height: 44px;
}

.box form .links{
    display: flex;
    justify-content: space-between;
}

.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}

#submit{
    border: none;
    outline: none;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

#submit:active{
    opacity: 0.8;
}


/* product details */


.details-snippet1 {
    color: #585656;
}

/* Main text uses this styling and color */
.details-snippet1 .theme-text {
    color: purple;
    font-weight: bold;
}

.details-snippet1 .mini-preview img {
    border: 1px solid #585656;
    border: 1px solid purple;
    margin-bottom: 8px;
}

.details-snippet1 .title {
    color: #464343;
    font-weight: bold;
    font-size: 2rem;
}

.details-snippet1 .price {
    font-weight: bold;
    font-size: 1.8rem;
}

.details-snippet1 .original-price {
    font-weight: normal;
    font-size: 20px;
}

.brief-description {
    /* color: #585656; */
    color: #464343;
}


.select-colors .color {
    display: inline-block;
    border: 1px solid grey;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: black;
}

.select-colors .color.red {
    background-color: red;
}

.select-colors .color.silver {
    background-color: silver;
}

.select-colors .color.black {
    background-color: black;
}



.addBtn {
    background-color: purple;
    color: white;
    text-transform: uppercase;
}

.addBtn:hover {
    background-color: #500150;
    color: white;
}


.related-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    /* color: #464343; */
}

.details-snippet1 .related-title {
    color: #464343;
    font-weight: bold;
}

.details-snippet1 .related-price {
    color: #464343;
    font-weight: bold;
}



.additional-details .nav-link {
    border: none;
    color: #464343;
}

.additional-details .nav-link.active {
    background-color: white;
    color: #464343;
    border: none;
    border-bottom: 4px solid purple;
}
.d-flex{
    display:flex;
}


/* my account */
/* Style for the sidebar overlay */
.sidebar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #f5f5f5; /* Dark background */
    z-index: 1000; /* Ensure the sidebar is on top */
    transition: 0.3s ease-in-out;
}

.sidebar-content {
    color: black;
    padding: 20px;
    /* background-color: #333; */
    width: 250px;
    height: 100%;
    position: relative;
    padding-top: 60px;
}

#close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

/* Link styles */
.scroll a {
    color: #333;
    text-decoration: none;
}

/* When the sidebar is open */
.sidebar-overlay.open {
    width: 250px;
}



  .card-img-top {
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display:block;
  }
  .card {
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .card-title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
  }
  .btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
  }
  
  .product-delete-button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: red;
}
